<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scrat.flashblinkservice">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" /> <!--Не обязательно наличие телефона-->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" /> <!--Обязатльно должна быть вспышка-->

    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!--Доступ к вспышке-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!--Получение интента входящих звонков-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!--Получение интента входящих сообщений-->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--Будим процессор чтобы считать актуальные данные гироскопа-->

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".NtSrv"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/acb_srv" />
        </service>
        <activity
            android:name=".StHead"
            android:exported="false"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>